html {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #000000, #170814, #000000);
  font-family: "Poppins", sans-serif;
}
.voltar-topo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.voltar-topo.ativo {
  opacity: 1;
  transform: translateY(0);
}

.voltar-topo:hover {
  transform: translateY(-4px) scale(1.05);
  transition: transform 0.3s ease;
}
.voltar-topo svg,
.voltar-topo img {
  width: 48px;
  height: 48px;
}
body {
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0px;
}
h1 {
  font-weight: 600;
  font-size: clamp(2rem, 4vw + 1rem, 3.5rem);
  line-height: 1.2;
  color: white;
}
h1 span {
  color: #e9ade9;
}
h2 {
  font-weight: 600;
  font-size: clamp(1.3rem, 2vw + 0.5rem, 1.5rem);
  line-height: 1.25;
  color: white;
}
h3 {
  font-weight: 500;
  font-size: clamp(1rem, 1vw + 0.5rem, 1rem);
  line-height: 1.5;
  color: #ffffff;
}
p {
  font-size: clamp(1rem, 0.8vw + 0.5rem, 1.2rem);
  line-height: 1.4;
  color: #d9d9d9;
}
strong {
  color: #ffffff;
}
@media (max-width: 1250px) {
  .container-intro {
    padding: 0 80px;
  }
}
@media (max-width: 900px) {
  .container-intro {
    padding: 0 48px;
  }
}
@media (max-width: 600px) {
  .container-intro {
    padding: 0 20px;
  }
}
