.habilidades-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 150px;
}
.habilidades .subtitulo {
  color: #26656b;
}

.habilidades-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
  padding: 40px;
}

.logo {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1100px) {
  .habilidades-container {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    padding: 40px;
  }

  .habilidades .subtitulo {
    color: #9ec7cb;
  }
  .habilidades-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
    padding: 20px 0;
  }
}
