header {
  max-width: 100%;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 100%;
  height: auto;
}

@media (max-width: 500px) {
  header {
    padding: 24px 16px;
  }
  .logo {
    width: 160px;
  }
}
