.introducao {
  max-width: 100%;
  padding: 80px 200px;
  margin: 0 auto;
  gap: 150px;
  align-items: center;
}

.introducao h1 {
  font-size: clamp(2.5rem, 6vw, 4.5rem);
  line-height: 1.125;
  margin-bottom: -20px;
  position: relative;
  text-align: center;
}

.introducao h1 span {
  color: #ce4620;
}

@media (max-width: 1100px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 30px 20px;
    justify-items: center;
  }
}

@media (max-width: 800px) {
  .introducao {
    padding: 30px 20px;
  }
}

@media (max-width: 500px) {
  .introducao h1 {
    font-size: 2rem;
    justify-items: center;
  }
}
